body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #020005;
    color: white;
    font-family: sans-serif;
    overflow: hidden;
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none; /* Everything starts hidden */
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.8s ease;
}

.page.active {
    display: flex; /* Only show active page */
    opacity: 1;
}

button {
    padding: 20px 40px;
    background: transparent;
    border: 1px solid #e2c074;
    color: #e2c074;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
